<html>
    <head>
        <title>Detalles</title>
    </head>
    <body>
        <h2>Detalles del libro: {{libro.titulo}} </h2>
        <div>
            <p><b>Autor: </b>{{libro.autor}}</p>
            <p><b>Editorial: </b>{{libro.editorial}}</p>
            <p><b>Fecha de publicacion: </b>{{libro.fechapubli}}</p>
            <p><b>Genero: </b>{{libro.genero}}</p>
            <p><b>ISBN: </b>{{libro.ISBN}}</p>
            <p><b>Autor: </b>{{libro.autor}}</p>
            <p><b>Resumen: </b>{{libro.resumen}}</p>
            <p><b>Portada: </b>{{libro.portada}}</p>
        </div>
        <button type="submit"><a href="{% url 'Listado' %}">Volver al listado</a></button>
    </body>
</html>