<html>
    <head><title>Realizar devolucion</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"&gt;></head>
    <body>
        <h3>Acerca de la reserva</h3>
        <div>
            <p><b>Titulo: </b>{{ libro.titulo }}</p>
            <p><b>Autor: </b>{{ libro.autor }}</p>
            <p><b>Resumen: </b>{{ libro.resumen }}</p>
            <form method="post">
                {% csrf_token %}
                <input type="submit" value="Confirmar devolucion">
            </form>
        </div>
    </body>
</html>