{% load static %}
<html>
    <head>
        <title>Listado</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"&gt;>
        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    </head>
    <body>
        <h2>Listado libros</h2>
        <a href="{% url 'logout' %}">Cerrar sesion</a>
        <a href="{%url 'crear' %}">Crear libro</a>
        <a href="{%url 'todos' %}">Mis libros</a>
        <ul>
            {% for libro in object_list %}
            <li>

                <a href="{% url 'detalles' pk=libro.pk %}">{{ libro.titulo }}</a>
                {% if libro.portada %}
                    <img src="{{ libro.portada.url }}">
                {% endif %}
               <a href="{% url 'borrar' pk=libro.pk %}">Borrar libro</a>
               <a href="{% url 'editar' pk=libro.pk %}">Editar libro</a>
            </li> 
            {% empty %}
            <p>No hay libros disponibles</p>
            {% endfor %}
            <form method="get" name="frm">
                {% csrf_token %}
                <label>Autor</label>
                <select name="autor" id="autor">
                    <option value="all"{% if not request.GET.autor %} selected {% endif %}>Todos</option>
                    {% for autor in autores %}
                      <option value="{{ autor.nombre }}" {% if request.GET.autor == autor.nombre %}selected{% endif %}>{{ autor.nombre }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="filtrar">
            </form>
        </ul>
    </body>
</html>