{% load static %}
<html>
    <head>
        <title>Listado</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"&gt;>
        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    </head>
    <body>
        <h2>Listado libros</h2>
        <button type="submit"><a href="{%url 'crear' %}">Crear libro</a></button>
        <button type="submit"><a href="{%url 'todos' %}">Mis libros</a></button>
        <form method="get" name="formulario">
            {% csrf_token %}
            <label>Autor</label>
            <select name="autor" id="autor">
                <option value="all">Todos</option>
                {% for autor in autores %}
                <option value="{{ autor }}">{{ autor.nombre }}</option>
                {% endfor %}
                <input type="submit" value="filtrar">
            </select>
        </form>
        <ul>
            {% for libro in object_list %}
            <li>

                <a href="{% url 'detalles' pk=libro.pk %}">{{ libro.titulo }}</a>
                {% if libro.portada %}
                    <img src="{{ libro.portada.url }}">
                {% endif %}
                <button type="submit"><a href="{% url 'borrar' pk=libro.pk %}">Borrar libro</a></button>
                <button type="submit"><a href="{% url 'editar' pk=libro.pk %}">Editar libro</a></button>
            </li> 
            {% empty %}
            <p>No hay libros disponibles</p>
            {% endfor %}
        </ul>
    </body>
</html>