<html>
    <head>
        <title>Listado</title>
    </head>
    <body>
        <h2>Listado libros disponible</h2>
        <ul>
            {% for object in object_list %}
            <li>

                {% if libro.disponibilidad %}
                <p>{ libro.titulo }</p>

                {% else %}
                   <p>No hay libros disponibles</p>

                {% endif %}
            </li> 
            {% empty %}
            <p>No hay libros disponibles</p>
            {% endfor %}
        </ul>
    </body>
</html>