<html>
    <head>
        <title>Listado</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"&gt;>
    </head>
    <body>
        <h1>Mis libros</h1>
        <h2>Listado libros disponibles</h2>
        <ul>
            {% for libro in libros_devueltos %}
                <li>
                    {{ libro.libro }}<img src="{{ libro.libro.portada.url }}">
                </li> 
            {% empty %}
                <li>No hay libros disponibles</li>
            {% endfor %}
        </ul>
        <h2>Listado libros prestados</h2>
        <ul>
            {% for libro in libros_prestados %}
            <li>
                {{ libro.libro }}<img src="{{ libro.libro.portada.url }}">
                <button type="submit"><a href="{% url 'devolucion' pk=libro.libro.pk %}">Devolver libro</a></button>
            </li> 
            {% empty %}
            <li>No hay libros prestados</li>
            {% endfor %}
        </ul>
        <button type="submit"><a href="{%url 'Listado' %}">Volver al listado principal</a></button>
    </body>
</html>